
  * {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }

  body{
    background-color: hsl(235, 18%, 26%);
    height: 100vh;
    width: 100vw;
    
  }

  main {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
  }

  .login__conteiner{
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5rem;
    color: hsl(234, 29%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .image-mobil {
    display: none;
  }
  .login__left, .login__rigth {
    padding: 1.5rem;
    width: 50%;
  }

  .login__title{
    font-size: 4rem;
    font-weight: 700;
   padding-left: 1rem;
    
  }
  .login__description {
    padding: 1rem;
   
  }
  .description__item{
    padding: .5rem;

  }
  .fa-circle-check{
    color: hsl(4, 100%, 67%);
    margin:0 1rem 1rem;

  }

  .formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
  .formulario label {
    font-size: 0.7rem;
    font-weight: 700;
  }

  .input__email{
    padding: 0.7rem;
    border-radius: 0.4rem;
    border: 1px solid hsl(231, 7%, 60%);
    outline-color: hsl(235, 18%, 26%);
    
  }

  .error {
    
    border-color: red;
    outline-color: red;
  }

  .submit__button {
    padding: 0.7rem;
    background-color: hsl(235, 18%, 26%);
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 0.4rem;
    border: none;
    text-shadow: 1px 1px black;
    width: 100%;
  }
  .submit__button:hover {
    background-image: linear-gradient( hsl(4, 100%, 67%), hsl(18, 80%, 55%)  );
    cursor: pointer;
  }

/*Styles for second scren, "succesfully login" */
  .success__conteiner{
    background-color: hsl(0, 0%, 100%);
    border-radius: 3rem;
    padding: 3rem;
    width: 25rem;
    
  }

  .success__title {
    font-size: 3rem;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    margin: 1.5rem 0;
  }

  .icon--big{
    font-size: 2rem;
  }
  .success__description{
    padding-bottom: 1rem;
  }

 
  .inactive{
    display: none;
  }


/* Footer styles */
  .attribution{
    font-size: 11px; 
    text-align: center;
    margin-top: 2rem;
  }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 400px) {
    .success__conteiner {
        padding: 2rem;
        border-radius: 0;
        width: 100vw;
        height: 100vh;
       
    }

    
    main{
        margin-top: 0;
        height: 100%;
        width: 100%;
       
    }
    body {
        background-color: white;
    }
   
    .login__rigth{
        display: none;
    }
    .login__left {
        padding: 2rem 1rem;
        width: 100vw; 
        height: 100vh;
        margin-top: 33rem;
        
    }
    .login__conteiner{
        border-radius: 0;
        background-image: url(assets/images/illustration-sign-up-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .login__title{
        font-size: 2rem;
    }
    footer {
        display: none;
    }
    

}